<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/wine"
        android:label="High To Low"
        android:roundIcon="@drawable/wine"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".HomeScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivityGame"
        />

        <activity
            android:name=".PlayerNumberChoice" />

        <activity
            android:name=".EndActivityGame" />

        <activity
            android:name=".NumberChoiceForGame" />

        <activity
            android:name=".InstructionsToPlay" />

        <activity
            android:name=".SettingsContainer" />
        <activity
            android:name=".WildCardQuantity" />
        <activity
            android:name=".WildCardChoice"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".GeneralSettings" />

        <activity
            android:name=".MainActivitySplitScreen" />

        <activity
            android:name=".DrawingPlayerModels" />

        <activity
            android:name=".PlayerModel"
            android:windowSoftInputMode="adjustNothing" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>
